/* BASE */
*, *::before, *::after {
    box-sizing: border-box;
		margin: 0;
		padding: 0;
}
html {
  /* set up sizing for using REM*/
  font-size: 62.5%;
  --color-orange: #E28625;
  --color-teal: #006971;
  --color-green: #004140;
  --color-light: #F2F2F2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.5rem;
  line-height: 167%;
  color: var(--color-light);
  height: 100vh;
  background-color: var(--color-light);
}

h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 48px;
  text-transform: uppercase;
  margin: 35px 0 25px;
}

p {
  opacity: .75;
  margin-bottom: 83px;
}

img {
  max-width: 100%;
}

button {
  font-size: 1.5rem;
  line-height: 25px;
  color: var(--btn-color, #000);
  padding: 11px 31px 12px;
  background-color: var(--color-light);
  border: 2px solid var(--color-light);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

button a {
  text-decoration: none;
}

button:hover {
  background-color: #ffffff00;
  color: #fff;
}


/* UTILITY */

.row {
display: flex;
}

.container {
  max-width: 920px;
  width: 80%;
  margin: 0 auto;
}

.orange-bg {
  background-color: var(--color-orange);
}

.teal-bg {
  background-color: var(--color-teal);
}

.green-bg {
  background-color: var(--color-green);
}

/* PREVIEW CARDS */

main {
  display: flex;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

}

.preview-card {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  padding: 48px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.preview-card button a{
  color:inherit;
}

.orange-bg button {
  --btn-color: var(--color-orange);
}

.teal-bg button {
  --btn-color: var(--color-teal);
}

.green-bg button {
  --btn-color: var(--color-green);
}

@media(max-width: 900px){


  main {
    display: flex;
    flex-direction: column;
  }

  .preview-card {
    width: 100%;
  }
  
}
